ubl/Rid1.0.22/RidSubsets/Catalogue/Rid-CatalogueAggregateComponents-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 (http://www.altova.com) by R. Overkamp (Wehkamp BV) -->
<!--W3C XML Schema generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.rfsholding.com/rid/CatalogueAggregateComponents/v1.0" xmlns:cbc="http://schemas.rfsholding.com/rid/CommonBasicComponents/v1.0" xmlns:udt="http://schemas.rfsholding.com/rid/UnqualifiedDataTypes/v1.0" xmlns:qdt="http://schemas.rfsholding.com/rid/QualifiedDataTypes/v1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:2" targetNamespace="http://schemas.rfsholding.com/rid/CatalogueAggregateComponents/v1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	
	<xsd:import namespace="http://schemas.rfsholding.com/rid/UnqualifiedDataTypes/v1.0" schemaLocation="../common/Rid-UnqualifiedDataTypes-v1.0.xsd"/>
	<xsd:import namespace="http://schemas.rfsholding.com/rid/QualifiedDataTypes/v1.0" schemaLocation="../common/Rid-QualifiedDataTypes-v1.0.xsd"/>
	<xsd:import namespace="http://schemas.rfsholding.com/rid/CommonBasicComponents/v1.0" schemaLocation="../common/Rid-CommonBasicComponents-v1.0.xsd"/>

	<xsd:element name="AdditionalItemProperty" type="ItemPropertyType"/>
	<xsd:element name="AdditionalItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="AllowanceCharge" type="AllowanceChargeType"/>
	<xsd:element name="BuyersItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="CatalogueLine" type="CatalogueLineType"/>
	<xsd:element name="ClassifiedTaxCategory" type="TaxCategoryType"/>
	<xsd:element name="ComponentRelatedItem" type="RelatedItemType"/>
	<xsd:element name="Dimension" type="DimensionType"/>
	<xsd:element name="Item" type="ItemType"/>
	<xsd:element name="ManufacturerParty" type="PartyType"/>
	<xsd:element name="ManufacturersItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="PartyIdentification" type="PartyIdentificationType"/>
	<xsd:element name="Price" type="PriceType"/>
	<xsd:element name="ProviderParty" type="PartyType"/>
	<xsd:element name="ReceiverParty" type="PartyType"/>
	<xsd:element name="RequiredItemLocationQuantity" type="ItemLocationQuantityType"/>
	<xsd:element name="SellersItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="StandardItemIdentification" type="ItemIdentificationType"/>
	<xsd:complexType name="AllowanceChargeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Allowance Charge. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a charge or discount price component.</ccts:Definition>
					<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ChargeIndicator" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Allowance Charge. Charge_ Indicator. Indicator</ccts:DictionaryEntryName>
							<ccts:Definition>Indicates whether the Allowance Charge is a charge (true) or a discount (false).</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Charge</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
							<ccts:DataType>Indicator. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:AllowanceChargeReasonCode" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Allowance Charge. Allowance Charge Reason Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>The reason for the Allowance Charge, expressed as a code.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
							<ccts:PropertyTerm>Allowance Charge Reason Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Allowance Charge Reason_ Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Amount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Allowance Charge. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The Allowance Charge amount.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
							<ccts:PropertyTerm>Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
							<ccts:Examples>35,23</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CatalogueLineType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Catalogue Line. Details</ccts:DictionaryEntryName>
					<ccts:Definition>The basic element of Catalogue; something that can be bought.</ccts:Definition>
					<ccts:ObjectClass>Catalogue Line</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue Line. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>A unique instance identifier for the line in this Catalogue document.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>1</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:LifeCycleStatusCode" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue Line. Life Cycle Status Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>Code indicating availability of this line.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Life Cycle Status Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
							<ccts:Examples>new - announcement only ,  new and available ,  deleted - announcement only</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:OrderableUnit" minOccurs="0"/>
			<xsd:element ref="cbc:MaximumOrderQuantity" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue Line. Maximum_ Order Quantity. Quantity</ccts:DictionaryEntryName>
							<ccts:Definition>The maximum amount of items that can be ordered.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue Line</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Maximum</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Order Quantity</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
							<ccts:DataType>Quantity. Type</ccts:DataType>
							<ccts:Examples>1 tonne</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ComponentRelatedItem" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue Line. Component_ Related Item. Related Item</ccts:DictionaryEntryName>
							<ccts:Definition>An association that describes any catalogue items that may be components of this Item.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue Line</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Component</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Related Item</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Related Item</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RequiredItemLocationQuantity" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue Line. Required_ Item Location Quantity. Item Location Quantity</ccts:DictionaryEntryName>
							<ccts:Definition>An association to the description of properties related to locations and quantities of the Item.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue Line</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Required</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Item Location Quantity</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Item Location Quantity</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Item" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Catalogue Line. Item</ccts:DictionaryEntryName>
							<ccts:Definition>An association to the Item itself.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Catalogue Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Item</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Item</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DimensionType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Dimension. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a measurable dimension of an item.</ccts:Definition>
					<ccts:ObjectClass>Dimension</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:AttributeID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Dimension. Attribute Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the attribute to which the measure applies.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Dimension</ccts:ObjectClass>
							<ccts:PropertyTerm>Attribute Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Measure" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Dimension. Measure</ccts:DictionaryEntryName>
							<ccts:Definition>The measurement value.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Dimension</ccts:ObjectClass>
							<ccts:PropertyTerm>Measure</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
							<ccts:DataType>Measure. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Item. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information directly relating to an item.</ccts:Definition>
					<ccts:ObjectClass>Item</ccts:ObjectClass>
					<ccts:AlternativeBusinessTerms>article, product, goods item</ccts:AlternativeBusinessTerms>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:Description" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Free-form field that can be used to give a text description of the item.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTerm>Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:PackSizeNumeric" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Pack Size. Numeric</ccts:DictionaryEntryName>
							<ccts:Definition>The number of items in a pack.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTerm>Pack Size</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Numeric</ccts:RepresentationTerm>
							<ccts:DataType>Numeric. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Name" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Name</ccts:DictionaryEntryName>
							<ccts:Definition>A short name optionally given to an item, such as a name from a Catalogue, as distinct from a description.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTerm>Name</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:BrandName" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Brand Name. Name</ccts:DictionaryEntryName>
							<ccts:Definition>Brand name for the item.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTerm>Brand Name</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
							<ccts:Examples>Coca-Cola</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:ModelName" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Model Name. Name</ccts:DictionaryEntryName>
							<ccts:Definition>Model name for the item.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTerm>Model Name</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
							<ccts:Examples>VW Beetle</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="BuyersItemIdentification" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Buyers_ Item Identification. Item Identification</ccts:DictionaryEntryName>
							<ccts:Definition>Associates the item with its identification according to the buyer s system.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Buyers</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Item Identification</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Item Identification</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SellersItemIdentification" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Sellers_ Item Identification. Item Identification</ccts:DictionaryEntryName>
							<ccts:Definition>Associates the item with its identification according to the seller s system.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Sellers</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Item Identification</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Item Identification</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="StandardItemIdentification" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Standard_ Item Identification. Item Identification</ccts:DictionaryEntryName>
							<ccts:Definition>Associates the item with its identification according to a standard system.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Standard</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Item Identification</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Item Identification</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AdditionalItemIdentification" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Standard_ Item Identification. Item Identification</ccts:DictionaryEntryName>
							<ccts:Definition>Associates the item with its identification according to a standard system.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Standard</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Item Identification</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Item Identification</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ClassifiedTaxCategory" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="AdditionalItemProperty" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Additional_ Item Property. Item Property</ccts:DictionaryEntryName>
							<ccts:Definition>Associates the item with a set of additional properties.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Additional</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Item Property</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Item Property</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ManufacturerParty" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Manufacturer_ Party. Party</ccts:DictionaryEntryName>
							<ccts:Definition>Associates the item with its manufacturer.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Manufacturer</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Party</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Party</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Dimension" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item. Dimension</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Dimension</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Item</ccts:ObjectClass>
							<ccts:PropertyTerm>Dimension</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Dimension</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemIdentificationType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Item Identification. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about item identification.</ccts:Definition>
					<ccts:ObjectClass>Item Identification</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Identification. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for an item.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Item Identification</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>CUST001   3333-44-123</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:ExtendedID" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Identification. Extended_ Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>An extended identifier for the item that identifies the item with specific properties, e.g., Item 123 = Chair / Item 123 Ext 45 = brown chair.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item Identification</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Extended</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemLocationQuantityType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Item Location Quantity. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about the properties of an item as they relate to specific quantities and/or specific locations.</ccts:Definition>
					<ccts:ObjectClass>Item Location Quantity</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:MinimumQuantity"/>
			<xsd:element ref="Price" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Location Quantity. Price</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Price.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item Location Quantity</ccts:ObjectClass>
							<ccts:PropertyTerm>Price</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Price</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Price. Allowance Charge</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Allowance Charge.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Price</ccts:ObjectClass>
							<ccts:PropertyTerm>Allowance Charge</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Allowance Charge</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemPropertyType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Item Property. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about specific Item Properties.</ccts:Definition>
					<ccts:ObjectClass>Item Property</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:Name" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Property. Name</ccts:DictionaryEntryName>
							<ccts:Definition>The name of the Item Property.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Item Property</ccts:ObjectClass>
							<ccts:PropertyTerm>Name</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
							<ccts:Examples>Energy Rating ,  Collar Size ,  Fat Content</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Value" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Property. Value. Text</ccts:DictionaryEntryName>
							<ccts:Definition>The Item Property value expressed as a text.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item Property</ccts:ObjectClass>
							<ccts:PropertyTerm>Value</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>100 watts ,  15 European ,  20% +/- 5%</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Party. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about an organization, sub-organization, or individual fulfilling a role in a business process.</ccts:Definition>
					<ccts:ObjectClass>Party</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PartyIdentification" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Party. Party Identification</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Party Identification.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Party</ccts:ObjectClass>
							<ccts:PropertyTerm>Party Identification</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Party Identification</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyIdentificationType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Party Identification. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a party s identification.</ccts:Definition>
					<ccts:ObjectClass>Party Identification</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Party Identification. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies a party.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Party Identification</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Price. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about the price.</ccts:Definition>
					<ccts:ObjectClass>Price</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:PriceAmount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Price. Price Amount. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The price amount.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Price</ccts:ObjectClass>
							<ccts:PropertyTerm>Price Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
							<ccts:AlternativeBusinessTerms>unit price</ccts:AlternativeBusinessTerms>
							<ccts:Examples>23.45</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:PriceType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Price. Price Type. Text</ccts:DictionaryEntryName>
							<ccts:Definition>The price type, expressed as text.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Price</ccts:ObjectClass>
							<ccts:PropertyTerm>Price Type</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>retail, wholesale, discount, contract</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelatedItemType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Related Item. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about the relationship between two items.</ccts:Definition>
					<ccts:ObjectClass>Related Item</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Related Item. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the related item.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Related Item</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>First ,  Second</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Quantity" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Related Item. Quantity</ccts:DictionaryEntryName>
							<ccts:Definition>The quantity that applies to the relationship.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Related Item</ccts:ObjectClass>
							<ccts:PropertyTerm>Quantity</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
							<ccts:DataType>Quantity. Type</ccts:DataType>
							<ccts:Examples>6 ,  10mg per Kilo</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxCategoryType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Tax Category. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a tax category.</ccts:Definition>
					<ccts:ObjectClass>Tax Category</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Category. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the tax category.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Category</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>ZeroRatedGoods   NotTaxable   Standard Rate</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
