ubl/Rid1.0.22/RidSubsets/SelfBilledCreditNote/Rid-SelfBilledCreditNoteAggregateComponents-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 (http://www.altova.com) by R. Overkamp (Wehkamp BV) -->
<!--Revision info: $Id: Rid-SelfBilledCreditNoteAggregateComponents-v1.0.xsd 806 2012-10-18 11:19:09Z dlub $-->
<!-- change history
    date            change                                       			requestor         author
   
	10-02-2012  spreadsheetversion 1.6 
					added selfbilled invoice documentreferende   duvekot		d.lub
					 (changed only cardinality in xsd)		
-->
<!--
  Library:           OASIS Universal Business Language (UBL) 2.1
                     http://docs.oasis-open.org/ubl/os-UBL-2.1/
  Module:            UBL-CommonAggregateComponents-2.1.xsd
  Generated on:      20110517-1540z
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.rfsholding.com/rid/SelfBilledCreditNoteAggregateComponents/v1.0"
xmlns:qdt="http://schemas.rfsholding.com/rid/QualifiedDataTypes/v1.0"
xmlns:udt="http://schemas.rfsholding.com/rid/UnqualifiedDataTypes/v1.0"
 xmlns:cac="http://schemas.rfsholding.com/rid/SelfBilledCreditNoteAggregateComponents/v1.0" xmlns:cbc="http://schemas.rfsholding.com/rid/CommonBasicComponents/v1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:2" targetNamespace="http://schemas.rfsholding.com/rid/SelfBilledCreditNoteAggregateComponents/v1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!-- ===== Imports ===== -->
	
<xsd:import namespace="http://schemas.rfsholding.com/rid/UnqualifiedDataTypes/v1.0" schemaLocation="../common/Rid-UnqualifiedDataTypes-v1.0.xsd"/>
<xsd:import namespace="http://schemas.rfsholding.com/rid/QualifiedDataTypes/v1.0" schemaLocation="../common/Rid-QualifiedDataTypes-v1.0.xsd"/>
<xsd:import namespace="http://schemas.rfsholding.com/rid/CommonBasicComponents/v1.0" schemaLocation="../common/Rid-CommonBasicComponents-v1.0.xsd"/>
	
	<xsd:element name="AccountingCustomerParty" type="CustomerPartyType"/>
	<xsd:element name="AccountingSupplierParty" type="SupplierPartyType"/>
	<xsd:element name="AllowanceCharge" type="AllowanceChargeType"/>
	<xsd:element name="BillingReference" type="BillingReferenceType"/>
	<xsd:element name="BillingReferenceLine" type="BillingReferenceLineType"/>
	<xsd:element name="BuyersItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="CreditNoteLine" type="CreditNoteLineType"/>
	<xsd:element name="DocumentReference" type="DocumentReferenceType"/>
	<xsd:element name="Item" type="ItemType"/>
	<xsd:element name="LegalMonetaryTotal" type="MonetaryTotalType"/>
	<xsd:element name="OrderLineReference" type="OrderLineReferenceType"/>
	<xsd:element name="OrderReference" type="OrderReferenceType"/>
	<xsd:element name="Party" type="PartyType"/>
	<xsd:element name="PartyIdentification" type="PartyIdentificationType"/>
	<xsd:element name="Price" type="PriceType"/>
	<xsd:element name="SelfBilledInvoiceDocumentReference">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DocumentReferenceType"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SellersItemIdentification" type="ItemIdentificationType"/>
	<xsd:element name="TaxCategory" type="TaxCategoryType"/>
	<xsd:element name="TaxScheme" type="TaxSchemeType"/>
	<xsd:element name="TaxSubtotal" type="TaxSubtotalType"/>
	<xsd:element name="TaxTotal" type="TaxTotalType"/>
	<xsd:complexType name="AllowanceChargeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Allowance Charge. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a charge or discount price component.</ccts:Definition>
					<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ChargeIndicator" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Allowance Charge. Charge_ Indicator. Indicator</ccts:DictionaryEntryName>
							<ccts:Definition>Indicates whether the Allowance Charge is a charge (true) or a discount (false).</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Charge</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
							<ccts:DataType>Indicator. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:AllowanceChargeReasonCode" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Allowance Charge. Allowance Charge Reason Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>The reason for the Allowance Charge, expressed as a code.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
							<ccts:PropertyTerm>Allowance Charge Reason Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Allowance Charge Reason_ Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Amount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Allowance Charge. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The Allowance Charge amount.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
							<ccts:PropertyTerm>Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
							<ccts:Examples>35,23</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TaxTotal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Allowance Charge. Tax Total</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Tax Total.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Allowance Charge</ccts:ObjectClass>
							<ccts:PropertyTerm>Tax Total</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Tax Total</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillingReferenceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Billing Reference. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information directly relating to a related document.</ccts:Definition>
					<ccts:ObjectClass>Billing Reference</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SelfBilledInvoiceDocumentReference" minOccurs="0"/>
			<xsd:element ref="BillingReferenceLine" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Billing Reference. Billing Reference Line</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Billing Reference Line.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Billing Reference</ccts:ObjectClass>
							<ccts:PropertyTerm>Billing Reference Line</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Billing Reference Line</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillingReferenceLineType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Billing Reference Line. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about the reference to a Billing line.</ccts:Definition>
					<ccts:ObjectClass>Billing Reference Line</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Billing Reference Line. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for the Billing Line.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Billing Reference Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditNoteLineType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Credit Note Line. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a Credit Note Line.</ccts:Definition>
					<ccts:ObjectClass>Credit Note Line</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Credit Note Line. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the Credit Note Line.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Credit Note Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:CreditedQuantity" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Credit Note Line. Credited_ Quantity. Quantity</ccts:DictionaryEntryName>
							<ccts:Definition>The quantity of Items credited.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Credit Note Line</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Credited</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Quantity</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
							<ccts:DataType>Quantity. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:LineExtensionAmount"/>
			<xsd:element ref="OrderLineReference" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Credit Note Line. Order Line Reference</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Order Line Reference.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Credit Note Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Order Line Reference</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Order Line Reference</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="BillingReference" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Credit Note Line. Billing Reference</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Billing Reference.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Credit Note Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Billing Reference</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Billing Reference</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Credit Note Line. Allowance Charge</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Allowance Charge.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Credit Note Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Allowance Charge</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Allowance Charge</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Item" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Credit Note Line. Item</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Item</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Credit Note Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Item</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Item</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Price" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Credit Note Line. Price</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Price.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Credit Note Line</ccts:ObjectClass>
							<ccts:PropertyTerm>Price</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Price</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerPartyType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Customer Party. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about the Customer Party.</ccts:Definition>
					<ccts:ObjectClass>Customer Party</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Party" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentReferenceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Document Reference. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a document referred to in another document.</ccts:Definition>
					<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Document Reference. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the document being referred to.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>PO-001   3333-44-123</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Item. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information directly relating to an item.</ccts:Definition>
					<ccts:ObjectClass>Item</ccts:ObjectClass>
					<ccts:AlternativeBusinessTerms>article, product, goods item</ccts:AlternativeBusinessTerms>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="BuyersItemIdentification"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemIdentificationType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Item Identification. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about item identification.</ccts:Definition>
					<ccts:ObjectClass>Item Identification</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Identification. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>An identifier for an item.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Item Identification</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>CUST001   3333-44-123</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:ExtendedID" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Item Identification. Extended_ Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>An extended identifier for the item that identifies the item with specific properties, e.g., Item 123 = Chair / Item 123 Ext 45 = brown chair.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Item Identification</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Extended</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MonetaryTotalType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Monetary Total. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about Monetary Totals.</ccts:Definition>
					<ccts:ObjectClass>Monetary Total</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:TaxExclusiveAmount" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Monetary Total. Tax Exclusive Amount. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The total amount exclusive of taxes.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Monetary Total</ccts:ObjectClass>
							<ccts:PropertyTerm>Tax Exclusive Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:PayableAmount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Monetary Total. Payable_ Amount. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The total amount to be paid.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Monetary Total</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Payable</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderLineReferenceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Order Line Reference. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about an Order Line Reference.</ccts:Definition>
					<ccts:ObjectClass>Order Line Reference</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:LineID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Order Line Reference. Line Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the referenced Order Line assigned by the buyer.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Order Line Reference</ccts:ObjectClass>
							<ccts:PropertyTerm>Line Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrderReference"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderReferenceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Order Reference. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about an Order Reference.</ccts:Definition>
					<ccts:ObjectClass>Order Reference</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Order Reference. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the referenced Order assigned by the buyer.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Order Reference</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>PO-001   3333-44-123</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:OrderTypeCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Party. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about an organization, sub-organization, or individual fulfilling a role in a business process.</ccts:Definition>
					<ccts:ObjectClass>Party</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PartyIdentification" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Party. Party Identification</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Party Identification.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Party</ccts:ObjectClass>
							<ccts:PropertyTerm>Party Identification</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Party Identification</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyIdentificationType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Party Identification. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a party s identification.</ccts:Definition>
					<ccts:ObjectClass>Party Identification</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Party Identification. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies a party.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Party Identification</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PriceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Price. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about the price.</ccts:Definition>
					<ccts:ObjectClass>Price</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:PriceAmount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Price. Price Amount. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The price amount.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Price</ccts:ObjectClass>
							<ccts:PropertyTerm>Price Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
							<ccts:AlternativeBusinessTerms>unit price</ccts:AlternativeBusinessTerms>
							<ccts:Examples>23.45</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:BaseQuantity" minOccurs="0"/>
			<xsd:element ref="AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Price. Allowance Charge</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Allowance Charge.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Price</ccts:ObjectClass>
							<ccts:PropertyTerm>Allowance Charge</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Allowance Charge</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SupplierPartyType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Supplier Party. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about the Supplier Party.</ccts:Definition>
					<ccts:ObjectClass>Supplier Party</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Party" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxCategoryType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Tax Category. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a tax category.</ccts:Definition>
					<ccts:ObjectClass>Tax Category</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Category. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the tax category.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Category</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>ZeroRatedGoods   NotTaxable   Standard Rate</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TaxScheme" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Category. Tax Scheme</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Tax Scheme.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Category</ccts:ObjectClass>
							<ccts:PropertyTerm>Tax Scheme</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Tax Scheme</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxSchemeType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Tax Scheme. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a tax scheme.</ccts:Definition>
					<ccts:ObjectClass>Tax Scheme</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Scheme. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the tax scheme.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Scheme</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>VAT ,  GST</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxSubtotalType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Tax Subtotal. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about the subtotal for a particular tax category within a tax scheme, such as standard rate within VAT.</ccts:Definition>
					<ccts:ObjectClass>Tax Subtotal</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:TaxableAmount" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Subtotal. Taxable_ Amount. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The net amount to which the tax percent (rate) is applied to calculate the tax amount.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Subtotal</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Taxable</ccts:PropertyTermQualifier>
							<ccts:PropertyTerm>Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:TaxAmount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Subtotal. Tax Amount. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The amount of tax stated explicitly.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Subtotal</ccts:ObjectClass>
							<ccts:PropertyTerm>Tax Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:Percent" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Subtotal. Percent</ccts:DictionaryEntryName>
							<ccts:Definition>The tax rate for the category, expressed as a percentage.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Subtotal</ccts:ObjectClass>
							<ccts:PropertyTerm>Percent</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Percent</ccts:RepresentationTerm>
							<ccts:DataType>Percent. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TaxCategory" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Subtotal. Tax Category</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Tax Category.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Subtotal</ccts:ObjectClass>
							<ccts:PropertyTerm>Tax Category</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Tax Category</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxTotalType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Tax Total. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a total amount of a particular type of tax.</ccts:Definition>
					<ccts:ObjectClass>Tax Total</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:TaxAmount" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Total. Tax Amount. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>The total tax amount for particular tax scheme e.g. VAT;  the sum of each of the tax subtotals for each tax category within the tax scheme.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Tax Total</ccts:ObjectClass>
							<ccts:PropertyTerm>Tax Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TaxSubtotal" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Tax Total. Tax Subtotal</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Tax Subtotal.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Tax Total</ccts:ObjectClass>
							<ccts:PropertyTerm>Tax Subtotal</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Tax Subtotal</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
