ubl/Rid1.0.22/RidSubsets/ApplicationResponse/Rid-ApplicationResponseAggregateComponents-v1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 3 (http://www.altova.com) by R. Overkamp (Wehkamp BV) -->
<!--Revision info: $Id: Rid-ApplicationResponseAggregateComponents-v1.0.xsd 806 2012-10-18 11:19:09Z dlub $-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.rfsholding.com/rid/ApplicationResponseAggregateComponents/v1.0" xmlns:cac="http://schemas.rfsholding.com/rid/ApplicationResponseAggregateComponents/v1.0" xmlns:udt="http://schemas.rfsholding.com/rid/UnqualifiedDataTypes/v1.0" xmlns:qdt="http://schemas.rfsholding.com/rid/QualifiedDataTypes/v1.0" xmlns:cbc="http://schemas.rfsholding.com/rid/CommonBasicComponents/v1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:2" targetNamespace="http://schemas.rfsholding.com/rid/ApplicationResponseAggregateComponents/v1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="http://schemas.rfsholding.com/rid/UnqualifiedDataTypes/v1.0" schemaLocation="../common/Rid-UnqualifiedDataTypes-v1.0.xsd"/>
	<xsd:import namespace="http://schemas.rfsholding.com/rid/QualifiedDataTypes/v1.0" schemaLocation="../common/Rid-QualifiedDataTypes-v1.0.xsd"/>
	<xsd:import namespace="http://schemas.rfsholding.com/rid/CommonBasicComponents/v1.0" schemaLocation="../common/Rid-CommonBasicComponents-v1.0.xsd"/>
	
	<!-- ===== Element Declarations ===== -->
	<xsd:element name="DocumentReference" type="DocumentReferenceType"/>
	<xsd:element name="DocumentResponse" type="DocumentResponseType"/>
	<xsd:element name="LineReference" type="LineReferenceType"/>
	<xsd:element name="LineResponse" type="LineResponseType"/>
	<xsd:element name="PartyIdentification" type="PartyIdentificationType"/>
	<xsd:element name="ReceiverParty" type="PartyType"/>
	<xsd:element name="Response" type="ResponseType"/>
	<xsd:element name="SenderParty" type="PartyType"/>
	<xsd:element name="Status" type="StatusType"/>
	<xsd:complexType name="DocumentReferenceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Document Reference. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a document referred to in another document.</ccts:Definition>
					<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Document Reference. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the document being referred to.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>PO-001   3333-44-123</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cbc:DocumentTypeCode" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Document Reference. Document Type Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>The referenced document type, expressed as a code.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Document Reference</ccts:ObjectClass>
							<ccts:PropertyTerm>Document Type Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentResponseType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Document Response. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about responses to a document (at the application level).</ccts:Definition>
					<ccts:ObjectClass>Document Response</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Response" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Document Response. Response</ccts:DictionaryEntryName>
							<ccts:Definition>The response to the document.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Document Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Response</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Response</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DocumentReference" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Document Response. Document Reference</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Document Reference.</ccts:Definition>
							<ccts:Cardinality>1..n</ccts:Cardinality>
							<ccts:ObjectClass>Document Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Document Reference</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Document Reference</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="LineResponse" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Document Response. Line Response</ccts:DictionaryEntryName>
							<ccts:Definition>Response to various lines in the document.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Document Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Line Response</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Line Response</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LineReferenceType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Line Reference. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Reference to a Line on a document.</ccts:Definition>
					<ccts:ObjectClass>Line Reference</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:LineID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Line Reference. Line Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies the Line on the referenced document.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Line Reference</ccts:ObjectClass>
							<ccts:PropertyTerm>Line Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LineResponseType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Line Response. Details</ccts:DictionaryEntryName>
					<ccts:Definition>A response to a Line in a Document.</ccts:Definition>
					<ccts:ObjectClass>Line Response</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LineReference" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Line Response. Line Reference</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Line Reference.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Line Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Line Reference</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Line Reference</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Response" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Line Response. Response</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Response.</ccts:Definition>
							<ccts:Cardinality>1..n</ccts:Cardinality>
							<ccts:ObjectClass>Line Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Response</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Response</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Party. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about an organization, sub-organization, or individual fulfilling a role in a business process.</ccts:Definition>
					<ccts:ObjectClass>Party</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PartyIdentification" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Party. Party Identification</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Party Identification.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Party</ccts:ObjectClass>
							<ccts:PropertyTerm>Party Identification</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Party Identification</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyIdentificationType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Party Identification. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about a party s identification.</ccts:Definition>
					<ccts:ObjectClass>Party Identification</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Party Identification. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifies a party.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Party Identification</ccts:ObjectClass>
							<ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResponseType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Response. Details</ccts:DictionaryEntryName>
					<ccts:Definition>Information about responses to a document (at the application level).</ccts:Definition>
					<ccts:ObjectClass>Response</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:ResponseCode" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Response. Response Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>A code for the description of the response to the transaction document.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Response Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="cac:Status" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Response. Status</ccts:DictionaryEntryName>
							<ccts:Definition>An association to Status</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Status</ccts:PropertyTerm>
							<ccts:AssociatedObjectClass>Status</ccts:AssociatedObjectClass>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StatusType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Status. Details</ccts:DictionaryEntryName>
					<ccts:Definition>The information relevant to a condition or a position of an object.</ccts:Definition>
					<ccts:ObjectClass>Status</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="cbc:StatusReasonCode" minOccurs="0"/>
			<xsd:element ref="cbc:StatusReason" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="cbc:SequenceID" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
